/* ---------------------------------- links --------------------------------- */
a, a:active, a:visited {
    text-decoration: none;
}
/* ----------------------- span to make uppercase text ---------------------- */
.upper {
    text-transform: uppercase;
}
/* ---------------------------- announcement bar ---------------------------- */
.announcement-bar {
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.announcement-bar p {
    font-size: .9rem;
    font-weight: 600;
    color: var(--clr-light);
    margin: 0;
}
/* --------------------------------- navbar --------------------------------- */
#nav {
    background-color: var(--clr-dark);
}
#nav a {
    color: var(--clr-primary);
}
.nav a, .nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 13rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart button {
    background-color: var(--clr-primary);
    color: var(--clr-dark);
    border: 0;
    margin: 0.3rem;
    padding: 0.6rem 1.2rem;
}
.user-name {
    text-transform: capitalize;
    border-bottom: 1px solid var(--clr-primary);
}
/* -------------------------------- carousel -------------------------------- */
.caroussel-img {
    height: 400px;
    object-fit:cover;
    object-position: center;
}
/* ---------------------------------- modal --------------------------------- */
.cart-body {
    height: 100%;
    background-color: var(--clr-light-grey);
    border-bottom: 3px solid var(--clr-primary);
}
.modal-img {
    object-fit: cover;
}
.cart-title {
    height: 2rem;
}
.cart-price {
    height: 3rem;
}
.quantity {
    margin: 1em;
    font-weight: 700;
}
.stock-avaliable {
    margin: 0 1em;
}
.card-buttons {
    height: auto;
}

.total-cart {
    font-size: 1.25rem;
    padding: 0 2em;
}
.total-price-cart {
    color: var(--clr-details);
    font-size: 1.25rem;
    font-weight: 700;
}
/* --------------------------------- footer --------------------------------- */
footer {
    margin-top: 5em;
    height: auto;
    background-color: var(--clr-dark);
    color: var(--clr-light-grey);
}
footer > div:first-child {
    padding: 1em 1.5em 0;
}
footer h5 {
    color: var(--clr-primary);
    margin: 1.25em 1em 0.5em 0em;
    font-weight: 600;
}
footer ul {
    list-style: none;
    padding: 0;
}
footer li {
    margin-bottom: 0.3em;
    margin-right: 0.4em;
}
footer a, footer p {
    color: white;
    margin-bottom: 1em;
}
footer i {
    margin-right: 1em;
}
footer img {
    width: 40px;
    height: 25px;
    object-fit: cover;
    overflow: hidden;
}
.footer-about {
    min-width: 320px;
}
.footer-rights {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-rights p {
    color: var(--clr-primary);
    padding: 1em 1em 0;
}
footer .footer-rights::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5%;
    width: 90%;
    height: 0.1rem;
    background-color: var(--clr-primary);
}