/* ----------------------------- components.css ----------------------------- */
@import url("./components.css");
/* -------------------------------- css reset ------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -------------------------------- variables ------------------------------- */
:root {
    --clr-light: #ECECEC;
    --clr-light-grey: #DFDFDF;
    --clr-dark-grey: #868484;
    --clr-grey: #5B5B5B;
    --clr-details: #B00000;
    --clr-primary: #FFD600;
    --clr-dark: #292929;
    --clr-secondary: #137EA7;
}
/* -------------------------------------------------------------------------- */
/*                                    INDEX                                   */
/* -------------------------------------------------------------------------- */
/* --------------------------- cateogires section --------------------------- */
.categories-margin {
    margin: 3rem;
}
.categories {
    margin: 0;
}
.categories div {
    width: 12rem;
    height: 10rem;
}
.categories div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.categories > div >div {
    background-color: var(--clr-grey);
    border: 2px solid white;
    border-radius: 0.25rem;
}
.categories div h4 {
    color: var(--clr-light-grey);
}
/* ----------------------------- on sale section ---------------------------- */
.dark-section {
    background-color: var(--clr-dark);
    padding: 4rem;
    gap: 1rem;
}
#onSale .card {
    padding: 0;
    min-width: 16rem;
    max-width: 16rem;
    background-color: var(--clr-light-grey);
    border: 0;
    border-radius: 0.5rem;
    overflow: hidden;
    border-bottom: 0.3rem solid var(--clr-primary);
    position: relative;
}
#onSale .card::before {
    content: "on sale!";
    font-weight: 600;
    position: absolute;
    top: 0.3em;
    right: 0.3em;
    color: var(--clr-light-grey);
    background-color: var(--clr-details);
    padding: 0.2em;
    border-radius: 0.3em;
}
.section-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    display: block;
    margin: 0 0 1.5rem 0;
}
.card-img-top {
    height: 16rem;
    object-fit: cover;
}
.card-title {
    height: 4rem;
    font-size: 1.5rem;
    font-weight: 600;
}
.card-text {
    font-size: 1.3rem;
}
.payment-plan {
    font-size: 1rem;
    font-weight: 700;
}
.plan-text {
    font-size: 0.9rem;
}
/* --------------------------- on tendency section -------------------------- */
#onTendency {
    padding: 4rem;
    gap: 1rem;
}
#onTendency .card {
    padding: 0;
    min-width: 16rem;
    max-width: 16rem;
    background-color: var(--clr-light-grey);
    border: 1px solid var(--clr-light-grey);
    border-radius: 0.5rem;
    overflow: hidden;
    border-bottom: 0.3rem solid var(--clr-primary);
}
/* -------------------------- aditional info style -------------------------- */
.add-info {
    margin: 3rem;
}
.add-info >div {
    border: 2px solid white;
    padding: 1.3rem;
    background-color: var(--clr-light-grey);
}
.add-info i {
    color: var(--clr-grey);
    font-size: 3rem;
    margin-right: 1rem;
}
.add-info h4, p {
    color: var(--clr-grey);
    margin: 0;
}
.add-info h4 {
    font-weight: 600;
}
/* --------------------------- newsletter section --------------------------- */
.newsletter-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-dark);
    padding: 4rem;
    margin-bottom: 4rem;
}
.newsletter-section form {
    width: 50%;
    min-width: 300px;
}
.newsletter-section h3 {
    color: var(--clr-primary);
    text-align: center;
}
/* -------------------------------------------------------------------------- */
/*                                  PURCHASE                                  */
/* -------------------------------------------------------------------------- */
#purchase {
    margin-top: 2em;
}
#purchaseTotal {
    padding: 1em;
}
#purchase .purchase-card {
    overflow: hidden;
    height: 15rem;
}
#purchase .card-body, #purchase .cart-body {
    height: 15rem;
}
#purchase img {
    height: 15rem
}

/* -------------------------------------------------------------------------- */
.animation {
    cursor: pointer;
    transition: all 0.3s;
}
.animation:hover {
    transform: scale(1.02);
}
/* ------------------------------ media querys ------------------------------ */
@media screen and (max-width: 576px) {
    .navbar-toggler {
        order: 1;
    }
    .logo {
        order: 2;
        width: 10rem;
    }
    .cart {
        order: 3;
    }
    .announcement-bar p {
        font-size: .6rem;
    }
}
.user-form {
    min-width: 350px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-dark);
    border-radius: 8px;
    margin-top: 4em;
    margin-bottom: 4em;
    padding: 1.5em;
}
.user-form form {
    min-width: 300px;
}
.user-form input {
    margin-bottom: 0.8em;
}
.passMsjError, .emptyFieldMsj {
    color: var(--clr-light-grey);
}